body{
    background: gray;
}



.box{
    background: white;
}





.nav{
    background: white;
}


.container{
    margin-top: 50px;
}

.logo {

    background: teal;
    color: white;
    margin-right: 1000px;
    padding: 5px;
    width: 120px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}



